* {
	padding: 0;
	margin: 0;
	border: 0;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url(/images/www_leyout_buffet_red_line.gif);
	background-repeat: repeat-y;
	display: table;
}

#left{
	width: 234px;
	display: table-cell;
	vertical-align: top;
}

#right{
	display: table-cell;
	vertical-align: top;
}

#image8{
	margin-top: 140px;
	width: 234px;
	height: 62px;
	background-image: url(/images/www_leyout_buffet_blue_line.gif);
}

#image1011{
width		: 234px;
height		: 229px;
}

#menu_left{
float		: left;
width		: 171px;
height		: 229px;
position: relative;
}

#menu_left ul {
	margin		: 0px;
	padding		: 0px;	
	vertical-align		: bottom;
	list-style	: none;
	position: absolute;
	bottom: 0;
	right: 0;
}

#menu_left li {
	margin: 0px;
	padding: 0px;
	padding-top: 7px;
	padding-right: 15px;
	display: block;
	font-size	: 6.5pt;
	font-family	: Arial;
	text-align	: right;
}

#image2356{
	width: 723px;
	height: 96px;
	margin-bottom: 44px;
}

#image2{
float		: left;
width		: 215px;
height		: 96px;
background-image	: url(/images/www_leyout_buffet_buffet_text.gif);	
}

#image356{
float		: left;
width		: 508px;
height		: 96px;	
}

#image56{
	width: 508px;
	height: 21px;
	margin-top: 75px;
}

#menu_top{
float		: left;
width		: 442px;
height		: 21px;
vertical-align		: bottom;
position	: relative;
}

#menu_top > ul.menu_poziome {
	position: absolute;
	bottom: 0;
}

#menu_top_lng{
float		: left;
width		: 66px;
height		: 21px;
vertical-align		: bottom;
text-align	: right;
position	: relative;
}

#menu_top_lng > ul.menu_poziome2 {
	position: absolute;
	bottom: 0;
	right:0;
}

#main_image{
	width: 723px;
	height: 291px;
}

#main_content{
width		: 663px;
padding-left	: 30px;
padding-top		: 25px;
padding-right	: 30px;
padding-bottom: 50px;
}

#main_content_news {
overflow: auto;
padding-bottom: 50px;
}

#main_content_news dl {
display: table;
}

#main_content_news_picture{
width: 257px;
height: 292px;
}

#main_content_news_cont{
width: 257px;	
}

#main_content_news_go{
	padding-left: 20px;	
	padding-bottom: 40px;
}

#main_content_go{
float: left;
width: 222px;
text-align	: right;
padding-right: 3px;
}

#main_content_rectangle_go{
float: left;
height	: 12px;
width	: 12px;
background-color	:#0000FF;
vertical-align: bottom;
margin-top	: 5px;
}

#main_content_announcement{
width		: 723px;
padding-bottom: 100px;
}

#main_content_announcement_go{
	padding-left: 20px;	
}

#announcement_content_go{
float: left;
width: 319px;
text-align	: right;
padding-right: 3px;
}


#main_content_archive{
width		: 798px;
padding-bottom: 50px;
}



#details{
width	: 723px;
padding-bottom	: 50px;
}

#details_picture{
float	: left;
width	: 370px;
height	: 517px;
padding-bottom	: 50px;
}

#details_cont{
float	: left;
width	: 353px;
padding-bottom	: 50px;
}

#details_title{
width	: 353px;
height	: 33px;
font-size	: 9pt;
font-family	: Arial;
text-align	: justify;
font-weight	: bold;
padding-left: 25px;
padding-top: 15px;

}

#details_content{
width	: 353px;
font-size	: 8pt;
font-family	: Arial;
text-align	: justify;
padding-left: 25px;
margin_top: 0px;
padding-top: 0px;
}

#details_main_back{
padding-left: 25px;	
}

#details_back{
float: left;
width: 310px;
text-align	: left;
padding-left: 3px;
}

#details_rectangle_back{
float: left;
height	: 12px;
width	: 12px;
background-color	:#FF0000;
vertical-align: bottom;
margin-top	: 5px;
}	
	
ul.menu_poziome li.menu_poziome{
display		: block;
list-style	: none;
margin		: 0;
padding-left		: 14px;
display		: inline;
font-size	: 6.5pt;
font-family	: Arial;
vertical-align	: bottom;
}

ul.menu_poziome2 li.menu_poziome2{
display		: block;
list-style	: none;
margin		: 0;
padding-left: 5px;
display		: inline;
font-size	: 6.5pt;
font-family	: Arial;
text-align	: right;
vertical-align	: bottom;
}

a{
text-decoration		: none;
color				: #000000;
}

a:hover{
text-decoration		: none;
color				: #000000;	
}

a:active{
text-decoration		: none;
color				: #000000;

}

a:visited{
text-decoration		: none;
color				: #000000;	
}

p.main_text{
font-size	: 8pt;
font-family	: Arial;
text-align	: justify;
line-height	: 180%;
}

p.news_title{
font-size	: 9pt;
font-family	: Arial;
text-align	: justify;
font-weight	: bold;
padding-top	: 10px;
padding-left: 20px;
display: block;
width: 237px;
}

p.news_pre_content{
font-size	: 8pt;
font-family	: Arial;
text-align	: justify;
padding-left: 20px;
padding-top	: 0px;
margin-top	: 0px;
}

p.announcement_title{
font-size	: 9pt;
font-family	: Arial;
text-align	: justify;
font-weight	: bold;
padding-top	: 15px;
padding-left: 25px;
}

p.announcement_pre_content{
font-size	: 8pt;
font-family	: Arial;
text-align	: justify;
padding-left: 25px;
padding-top	: 0px;
margin-top	: 0px;
}

p.archive_title{
font-size	: 9pt;
font-family	: Arial;
text-align	: justify;
font-weight	: bold;
padding-top	: 27px;
padding-left: 27px;
}

p.archive_pre_content{
font-size	: 8pt;
font-family	: Arial;
text-align	: justify;
padding-left: 27px;
padding-top	: 0px;
margin-top	: 0px;
}

dt.news{
width: 257px;
padding-right: 10px;
display: table-cell;
}

dt.news > img {
width: 257px;
}

dt.announcement{
height: 169px;
float: left;
margin-bottom: 8px;
}

dt.archive{
width: 257px;
float: left;
padding-right: 9px;
display: table-cell;
}

dt.archive > img{
width: 257px;
}

img.main{
width: 723px;
height: 291px;
}

img.news{
width: 257px;
height: 292px;
}

img.announcement{
width: 369px;
height: 169px;	
}

img.archive{
width: 257px;
height: 62px;	
}

img.details{
width	: 370px;
height	: 517px;
}

#main_content_announcement_picture{
float: left;
width: 369px;
height: 169px;
}

#main_content_announcement_cont{
float: left;
width: 354px;
}

#main_content_archive_picture{
width: 257px;
height: 62px;
}

#main_content_archive_cont{
width: 257px;
}



#left > div > img {
}
